body{
    
    padding: 0;
    margin: 0;
    background-color: #F7FD04;
}
.container{
    width: 57px;
    height: 50px;
}
.bounce{
    height: 500px;
    width: 500px;
    pointer-events: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    
}
.ball{
    background-color: #FC5404;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: 100px;
    left: 220px;
    animation: bouncy 0.9s infinite;
    z-index: 1;
    
}
@keyframes bouncy{
    10%{
        height: 50px;
        width: 50px;
    }
    25%{
        height: 50px;
        width: 40px;
    }
    50%{
        height: 30px;
        width: 56px;
        transform: translateY(250px);
    }
    75%{
        height: 50px;
        width: 57px;
    }
    100%{
        transform: translateY(0px);
    }
}
.shadow{
    background-color: rgba(8,8,8,0.3);
    height: 10px;
    width: 65px;
    border-radius: 50%;
    position: relative;
    top: 322px;
    left: 215px;
    
    animation: shrink 0.9s infinite;
}
@keyframes shrink{
    50%{
        transform: scaleX(0.5);
    }
}